


/*===========================
    06.PRICING PLAN css 
===========================*/

.pricing_area{
    
}

.pricing_menu{
    & .nav{
        overflow: hidden;
        
        & .nav-item{
            & a{
                width: 120px;
                line-height: 55px;
                height: 55px;
                text-align: center;
                padding: 0 15px;
                background-color: #F5F5FC;
                font-size: 16px;
                font-weight: 600;
                color: $black;
                @include transition(0.3s);
                
                &.active,
                &:hover{
                    background-color: $theme-color;
                    color: $white;
                }
            }
            
            &:first-child{
                & a{
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                }
            }
            &:last-child{
                & a{
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }
            }
        }
    }
}


.pricing_content_area{
    
}

.single_pricing{
    border: 2px dashed $border-color;
    border-radius: 10px;
    padding: 40px;
    @include transition(0.3s);
    
    @media #{$xs}{
        padding: 25px;
    }
    
    & .pricing_title{
        position: relative;
        display: inline-block;
        
        & .title{
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            font-size: 20px;
            font-weight: 600;
            color: $black;
            @include transition(0.3s);
        }
        & .services_shape{
            fill: #fff1f1;
            @include transition(0.3s);
        }
    }
    & .pricing_content{
        margin-top: 25px;
        
        & .pricing_price{
            font-size: 35px;
            font-weight: 700;
            color: $black;
        }
        & p{
            margin-top: 15px;
            line-height: 37px;
        }
        & .main-btn{
            background-color: #FFF1F1;
            padding: 0 25px;
            border-radius: 5px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $body-color;
            margin-top: 30px;
            
            &:hover{
                background-color: $theme-color;
                color: $white;
            }
        }
    }
    
    &.active,
    &:hover{
        border-color: $theme-color;
        @include box-shadow (0px 10px 15px 0px rgba($shadow, 0.15));
        
        & .pricing_title{
            & .title{
                color: $white;
            }
            
            & .services_shape{
                fill: $theme-color;
            }
        }
        
        & .pricing_content{
            & .main-btn{
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}













